.topnav {
    background-color: #4a4a4f;
    overflow: hidden;
    text-align:center;
  }

  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 35px 35px;
    text-decoration: none;
    font-size: 25px;
  }

  body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .row {
    line-height:0;
    clear:both;
    padding: 5px;
    text-align: center;
  }
  

  img {
    max-width: 100%;
    max-height: 300px;
}

footer {
    background-color:#4a4a4f;
    text-align:center;
    padding:10px 20px;
    color:white;
}

.section-middle {
    text-align:center;
}

h3, h2, h1 {
    text-decoration:underline;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contact-form {
    max-width: 380px;
    position:relative;
    margin:0 auto;

}

fieldset label {
    width: 17%;
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
  }

  #submit {
    width: 40%;
    margin-left: 30%;
    margin-top: 6px;
    }

    .img-media{
        width:175px;
        height:175px;
    }

    @media screen and (max-width: 1200px) {
        .img-media{
            width:33%;
            height:250px;
        }
    }
    
    @media screen and (max-width: 900px) {
        .img-media{
            width:75%;
            clear:both;
        }
    }